.form__inputs {
    font-size: x-large;
    font-weight: 700;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 25px;
    padding: 10px;
    input {
        padding: 5px;
    }
    option {
        padding: 5px;
    }
}
.form__inputs-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1/2;
}
.form__inputs-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2/3;
}
.form__inputs-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 3;
}

.form__input-field {
    background-color: #FDF9F5;
    color:#B65200;
    border: 2px solid #B65200;
    border-radius: 5px;
}

.form__inputs-info-vegan {
    background-color: #FDF9F5;
}

.char-counter {
    font-size: 15px;
    margin-top: -40px;
}