.vendor__details {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}

.vendor-profile-pic {
    margin: 120px 70px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.menu-pic {
    width: 150px;
    height: 300px;
    margin: 70px;
}

.vendor__details-info {
    border: 1px solid #FD6868;
    margin: 5% 15%;
    border-radius: 20px;
}

.description-container {
    margin: 0% 20%;
}
